@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  /* Buttons */
  button {
    @apply cursor-pointer;
  }

  /* Inputs (except checkbox) */
  input:not([type="checkbox"]) {
    @apply outline-none border border-gray-300 rounded-lg
           focus:ring focus:ring-blue-500 focus:border-blue-500;
  }

  /* Textarea */
  textarea {
    @apply outline-none border border-gray-300 rounded-lg resize-none
           focus:ring focus:ring-blue-500 focus:border-blue-500;
  }
}
